@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about GitHub workflows by example. Deployed using CI/CD in GitHub Actions and Azure.</p>
</div>
